<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--Cambia la cadena de coneccion para que funcione-->
    <add name="SEDCEConString" connectionString="Data Source=DESKTOP-M4DTK9N;Initial Catalog=SEDSE;Persist Security Info=True;User ID=sa;Password=sasa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
